@{ Layout = "_Layout"; }

<h1>Welcome to the Hair Salon</h1>
<hr />
<a href='@Url.Action("Index", "Stylists")'><button>View Stylists</button></a>&emsp;
<a href='@Url.Action("Create", "Stylists")'><button>Add Stylist</button></a><br>
<hr />
<a href='@Url.Action("Index", "Clients")'><button>View Clients</button></a>&emsp;
<a href='@Url.Action("Create", "Clients")'><button>Add Client</button></a>