@{ Layout = "_Layout"; }

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

<h1>Clients</h1>

<ul>
  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId }) | @client.Stylist.Name</li>
  }
</ul>

<button>@Html.ActionLink("See all Stylists", "Index", "Stylists")</button>
<button>@Html.ActionLink("Add new client", "Create")</button>